@model ArchitectureNetCore.Domain.Entities.Truck
@{
    ViewData["Title"] = "Details";
}
<h2>Detalhes do caminhão - Hibrido</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.WheelConfiguration)</dt>
        <dd>@Html.DisplayFor(model => model.WheelConfiguration)</dd>
        <dt>@Html.DisplayNameFor(model => model.Power)</dt>
        <dd>@Html.DisplayFor(model => model.Power)</dd>
        <dt>@Html.DisplayNameFor(model => model.Weight)</dt>
        <dd>@Html.DisplayFor(model => model.Weight)</dd>
        <dt>@Html.DisplayNameFor(model => model.Observation)</dt>
        <dd>@Html.DisplayFor(model => model.Observation)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>